body {
    background-color: rgb(52, 150, 126);

}
#menu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#menu-font {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(52, 150, 126);
}  

.menu-box{
    width: 100%;
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px dashed grey;
    
}

.menu-box:hover{
    background-color: rgb(76, 63, 52);
    cursor: pointer;

}
#food {
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(52, 150, 126);

}
.material-symbols-outlined {
    background-color: rgb(205, 202, 202);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#order {
    background-color: lightgrey;
}

.order-button {
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  
}
#order-section {
    display: flex;
    flex-direction: column;
}
.order-city {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;

}
.total-section {
    background-color: rgb(213, 214, 215);
    width: 350px;
}
.show-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
}

.ingredient {
    font-size: 22px;
}
#sauce-button.menu-box {
    display: flex;

}
#sauce-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px; 
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 22px;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px dashed grey;
    width: 100%;
    margin-top: 0.5em;
}

#sauce-section:hover{
    background-color: rgb(76, 63, 52);
    cursor: pointer;
}
#sauce-container{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 10px;
}

#drink-container{
    margin-top: 0.5em;
    border-radius: 10px;
}
#drink-section {
    
    background-color: rgb(97, 93, 93);
    font-size: 22px;
    padding: 0.8em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    color: white;
    width: 100%;
    margin-top: 0.5em;
}
    
.drinks:hover {
    background-color: rgb(76, 63, 52);
    cursor: pointer;
}
div {
    font-size: 24px;
}
.dip-sauce {
    padding: 0.5em;
    margin: 0.3em
}
#all-drinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px; 
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 22px;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px dashed grey;
    width: 100%;
    margin-top: 0.5em;
}
.img {
    width: 100%;
}
#api-button, #tenant-button {
    display: none;
}