body {
    background-color: rgb(52, 150, 126);

}
#menu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#menu-font {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(52, 150, 126);
}  

.menu-box{
    width: 100%;
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px dashed grey;
    
}

.menu-box:hover{
    background-color: rgb(76, 63, 52);
    cursor: pointer;

}
#food {
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(52, 150, 126);

}
.material-symbols-outlined {
    background-color: rgb(205, 202, 202);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
  
}
.material-symbols-outlined1 {
    background-color: rgb(205, 202, 202);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
}
#order-section {
    display: flex;
    flex-direction: column;
}
.h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.ingredient {
    font-size: 22px;
}
#sauce-button.menu-box {
    display: flex;

}
#sauce-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px; 
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 22px;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px dashed grey;
    width: 100%;
    margin-top: 0.5em;
}

#sauce-section:hover{
    background-color: rgb(76, 63, 52);
    cursor: pointer;
}
#sauce-container{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 10px;
}

#drink-container{
    margin-top: 0.5em;
    border-radius: 10px;
}
#drink-section {
    
    background-color: rgb(97, 93, 93);
    font-size: 22px;
    padding: 0.8em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    color: white;
    width: 100%;
    margin-top: 0.5em;
}
    
.drinks:hover {
    background-color: rgb(76, 63, 52);
    cursor: pointer;
}
div {
    font-size: 24px;
}
.dip-sauce {
    padding: 0.5em;
    margin: 0.3em
}
#all-drinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px; 
    background-color: rgb(97, 93, 93);
    color: white;
    font-size: 22px;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px dashed grey;
    width: 100%;
    margin-top: 0.5em;
}
#api-button, #tenant-button {
    display: none;
}

.hidden {
    display: none;
}

#cart {
    z-index: 5;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vw;
    background-color: rgb(243, 243, 243);
}
  .item {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center ;
    gap: 1em;
    
  }
  .quantity-container {
    gap: 0.5em;
    width: 50%; 
    display: flex;
    flex-direction: row;
    margin: 1em;
  }
  .pay-button{
    background-color: rgb(65, 65, 65);
    width: 100%;
    padding: 0.8em 0.4em;
    font-size: 26px;
    color: white;
    align-items: ;

  }  
  .pay-button:hover{
    cursor: pointer;
  }
  .total {
    background-color: rgb(213, 214, 215);
    width: 100%;
    font-size: 26px;
    font-weight: bold;
  }
  .show-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px; 
  }
  .moms {
    font-size: 22px;
  }
  .minus-button{
    width: 40px;
    height: 40px;
    padding: 0.3em 0.3em;
    border-radius: 50%;
    font-size: 20px;
    background-color: lightgrey;
   
  }
  .plus-button{
    width: 40px;
    height: 40px;
    padding: 0.3em 0.3em;
    border-radius: 50%;
    font-size: 20px;
    background-color: lightgrey;
    
  }
  .name-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }